<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>p2.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>1D63E4A01C922CE900D8863B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1D63E4B41C922CEA00D8863B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1D63E4BF1C922CEA00D8863B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
